parameters:
	level: 8
	paths:
		- src/
	bootstrapFiles:
		- tests/bootstrap.php
	ignoreErrors:
		- '#Call to static method createGFMEnvironment\(\) on an unknown class .+Environment#'
		- '#Class .+CommonMarkConverter constructor invoked with 2 parameters, 0-1 required#'
