<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	colors="true"
	bootstrap="tests/bootstrap.php"
>
	<php>
		<ini name="memory_limit" value="-1"/>
		<ini name="apc.enable_cli" value="1"/>
		<!-- E_ALL & ~E_USER_DEPRECATED (16383)-->
		<!-- E_ALL (32767) -->
		<ini name="error_reporting" value="32767"/>
	</php>

	<!-- Add any additional test suites you want to run here -->
	<testsuites>
		<testsuite name="markup">
			<directory>tests/TestCase/</directory>
		</testsuite>
		<!-- Add plugin test suites here. -->
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">src/</directory>
		</whitelist>
	</filter>

</phpunit>
